CJBS_API_ENDPOINT=url
CJBS_API_KEY=your_key
CJBS_API_VERSION=2024-10-21 (date)
CJBS_DEPLOYMENT_NAME=version(e.g. gpt-4.1-nano)
CLIENT_ID=your_id
CLIENT_SECRET=your_id
PYTHON_VERSION=3.12.0
SP_HOSTNAME=sharepoint_url
SP_LIBRARY_NAME=folder_name
SP_SITE_PATH=folder_dir
SP_TARGET_FOLDER=incoming
TENANT_ID=your_id